<div class="dad">
	<div>
		<mat-toolbar color="primary">
			<mat-toolbar-row>

				<button mat-button (click)="drawer.toggle()">
					<figure><img src="favicon.ico" alt="logo"></figure>
					<span>Logo</span>
				</button>

				<button mat-button (click)="drawer.toggle()">
					<span>Home</span>
				</button>

				<button mat-button (click)="drawer.toggle()">
					<span>Conociendonos</span>
				</button>

				<button mat-button (click)="drawer.toggle()"  class="float-xl-right">
					<span>Ingresar</span>
				</button>

				<button mat-button (click)="drawer.toggle()"  class="float-xl-right">
					<span>Comenzar</span>
				</button>

			</mat-toolbar-row>
		</mat-toolbar>
	</div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>



</div>




<!--
<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Web aplication
			<button mat-button (click)="drawer.toggle()">
				<mat-icon>search</mat-icon>
			</button>
		</span>
		<span class="example-spacer"></span>
		<mat-icon class="example-icon"><a href="www.google.com" target="_blank">tab</a> </mat-icon>
		<button mat-button [matMenuTriggerFor]="menu">
			<mat-icon>view_headline</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>Item 1</button>
			<button mat-menu-item>Item 2</button>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container class="example-container" autosize>
	<mat-drawer #drawer class="example-sidenav" mode="side">
		<p>Auto-resizing sidenav</p>

		<mat-form-field>
			<mat-select placeholder="Favorite food">
				<mat-option *ngFor="let p of productos" [value]="p.color">
					{{p.text}}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-select placeholder="Favorite food">
				<mat-option *ngFor="let p of productos" [value]="p.color">
					{{p.text}}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<br>

		<mat-form-field>
			<mat-select placeholder="Favorite food">
				<mat-option *ngFor="let p of productos" [value]="p.color">
					{{p.text}}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<br>

		<mat-slide-toggle class="example-margin" [color]="'accent'" [checked]="true">
			Solo perros lindos!
		</mat-slide-toggle>

	</mat-drawer>

	<div class="example-sidenav-content">

		<mat-card class="example-card" *ngFor="let p of productos">
			<mat-card-header>
				<div mat-card-avatar class="example-header-image"></div>
				<mat-card-title>Shiba Inu</mat-card-title>
				<mat-card-subtitle>Dog Breed</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
			<mat-card-content>
				<p>
					The Shiba Inu is the smallest
				</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button>LIKE</button>
				<button mat-button>SHARE</button>
			</mat-card-actions>
		</mat-card>


	</div>

</mat-drawer-container>

-->