<div class="dad">

	<!-- Box 1 -->
	<div>
		<mat-toolbar>
			<figure><img src="assets/images/logo/logo@3x.png" alt="logo"></figure>
		</mat-toolbar>

		<figure><img src="assets/images/landing/svg-land@3x.png" alt="land"></figure>

		<h1><strong>Baja la cuota</strong> de tus créditos</h1>

		<p>Vive tranquilo sabiendo que tienes la mejor tasa y condiciones comerciales</p>

		<div>	
			<button mat-flat-button color="primary"><span>Crear cuenta</span></button>
			<button mat-stroked-button color="primary"><span>Iniciar sesión</span></button>
		</div>
	</div>

	<!-- Box 2 -->
	<div>
		<h4>Recibirás ofertas de los bancos más reconocidos de Chile</h4>

		<div class="slider-banks">
			<button mat-icon-button>
				<mat-icon>keyboard_arrow_left</mat-icon>
			</button>
			<button mat-icon-button>
				<mat-icon>keyboard_arrow_right</mat-icon>	
			</button>
			<div>
				<span>BCI</span>
				<span>BBVA</span>
			</div>

		</div>

	</div>

	<!-- Box 3 -->
	<div>
		<figure><img src="assets/images/landing/simulacion-creditos@3x.png" alt="simulacion de crédito"></figure>
		<h3>Consigue las mejores tasas</h3>
		<p>No pierdas tiempo buscando oportunidades. Nosotros lo hacemos por ti.</p>
	</div>

	<!-- Box 4 -->
	<div>
		<figure><img src="assets/images/landing/sin-interrupciones@3x.png" alt="simulacion de crédito"></figure>
		<h3>Rápido, fácil y sin spam</h3>
		<p>El servicio es totalmente gratuito y nunca te enviaremos ofertas que no mejoren tus condiciones actuales.</p>
	</div>

	<!-- Box 5 -->
	<div>
		<h3>¿Cómo funciona?</h3>
		<p>En 3 simples pasos</p>

		<mat-icon>alarm</mat-icon>
		<p>Te registras en sólo 5 minutos</p>

		<mat-icon>error_outline</mat-icon>
		<p>Te avisamos cuando puedas mejorar tus condiciones</p>

		<mat-icon>money_off</mat-icon>
		<p>Te ayudamos sin costo a realizar el cambio</p>
		
	</div>
	
	<!-- Box 6 -->
	<div>
		<h3>Estás a un paso de mejorar tu situación financiera</h3>
		<button mat-flat-button color="primary"><span>Comenzar</span></button>
	</div>

	<!-- Box 7 -->
	<div>
		<mat-toolbar>
			<figure><img src="assets/images/logo/logo@3x.png" alt="logo"></figure>
		</mat-toolbar>

		<p>© 2018  Todos los derechos reservados.</p>
		<p>Hecho con amor por Finvox 💙</p>
	</div>



</div>
