/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body{
    padding: 0px;
    margin: 0px;
    position: relative;
}
body *{
    margin: 0px;
    padding: 0px;
}